body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-attachment: fixed;
    background-color: #262626;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 100%;
    color: #fff;
    background-image: url('images/admin-icon-png.png');
}
a{
    text-decoration: none;
    color: #000;
}
.errormessage{
    color: #f00;
}

.successmessage{
    color: #0f0;
}
.admin{
    margin: 20px;
}
.productdata{
    float: right;
    margin: 10px;
}
.userdata{
    margin: 10px;
    float: right;
}